.App {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .content{
  width: 300px;
  margin-right: 10px;
}
.App .box{
  margin-bottom: 20px;
}
